{% extends 'base.html.twig' %}

{% block title %}Kasse{% endblock %}

{% block body %}
    <div {{ vue_component('cash-register', {
        confirmEndpointUrl: path('send_cash_register', {eventId: event.id}),
        startPrice: 0.00,
        categories: categories,
        gridWidthElements: event.productsPerRow,
        useCategoryTabs: event.useCategoryTabs,
        useLandscapeMode: (settings['landscape_mode'] ?? false) ? true : false,
        buttonSound: (settings['button_sound'] ?? false) ? true : false,
        quickCheckout: (settings['quick_checkout'] ?? false) ? true : false,
        lazyCalculator: (settings['lazy_calculator'] ?? false) ? true : false,
        enqueuedMessages: 'enqueued' | trans
    }) }}></div>
{% endblock %}
