**/*.log
**/*.php~
**/._*
**/.dockerignore
**/.DS_Store
**/.git/

**/.gitattributes
**/.gitignore
**/.gitmodules
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
docker/Dockerfile
**/Thumbs.db
.editorconfig
.env.*.local
.env.local
.env.local.php
.env.test
.env.dev
.php_cs.cache
.gitlab/
bin/*
!bin/console
helm/
public/bundles/
public/build/
var/
!var/res/
node_modules/
vendor/
!vendor/fwa/
LICENSE
