services:

  nginx:
    image: ricwein/cash-register-nginx:latest
    build:
      context: .
      dockerfile: docker/Dockerfile
      target: cash-register_nginx
      args:
        APP_ENV: ${APP_ENV:-prod}
    environment:
      APP_ENV: ${APP_ENV:-prod}
    env_file:
      - .env
    networks:
      - internal
    volumes:
      - upload-dir:/app/public/uploads:rw
    restart: unless-stopped
    depends_on:
      - php-fpm

  php-fpm:
    image: ricwein/cash-register-php-fpm:latest
    build:
      context: .
      dockerfile: docker/Dockerfile
      target: cash-register_php-fpm
      args:
        PHP_VERSION: ${PHP_VERSION:-8.4}
        TZ: ${TZ:-UTC}
        APP_ENV: ${APP_ENV:-prod}
        APP_SECRET: ${APP_SECRET:-}
    environment:
      APP_ENV: ${APP_ENV:-prod}
      APP_DEBUG: ${APP_DEBUG:-false}
      DATABASE_URL: mysql://root:toor@db:3306/app?serverVersion=mariadb-12.1.2&charset=utf8mb4
    env_file:
      - .env
    networks:
      - internal
    volumes:
      - upload-dir:/app/public/uploads:rw
    restart: unless-stopped
    depends_on:
      - db

  db:
    image: mariadb:12-ubi
    networks:
      - internal
    environment:
      - MYSQL_ROOT_PASSWORD=toor
      - MARIADB_DATABASE=app
    restart: unless-stopped
    cap_add:
      - SYS_ADMIN
    ulimits:
      memlock: 262144
      nproc: 262144

volumes:
  upload-dir:

networks:
  internal:
    driver: bridge
