@page {
  margin: 0;
}

body {
  margin: 1.5cm;

  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1em;

  .page {
    page-break-after: always;

    &:last-of-type {
      page-break-after: avoid;
    }
  }

  .text-secondary {
    color: slategray;
  }

  .bg-light {
    background-color: rgba(20, 20, 20, 0.1);
  }

  .bg-dark-subtle {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .p-2 {
    padding: 0.5em;
  }

  .mt-3 {
    margin-top: 1.5em;
  }

  .mt-4 {
    margin-top: 2em;
  }

  .mt-5 {
    margin-top: 3em;
  }

  .mb-3 {
    margin-top: 1.5em;
  }

  .mb-4 {
    margin-top: 2em;
  }

  .mb-5 {
    margin-top: 3em;
  }

  .text-end {
    text-align: right !important;
  }

  .text-center {
    text-align: center !important;
  }

  .fw-bold {
    font-weight: bold;
  }

  .card {
    border: 1px solid lightgrey;
    border-radius: 0.2em;

    &, * {
      margin: 0;
    }

    .card-header {
      background-color: rgba(10, 10, 20, 0.4);

      .card-title {
        padding: 0.5em;
      }
    }

    .card-body {
      padding: 0.5em;
    }
  }

  .text-decoration-double {
    &, * {
      border-bottom: 3px double black;
    }
  }

  table.table {
    border-collapse: collapse;
    width: 100%;

    thead {
      tr {
        td, th {
          padding: 0.5em;
          background-color: rgba(20, 20, 20, 0.1);
          border-bottom: 2px solid black;
          text-align: left;
        }
      }
    }

    tbody {
      tr {
        td, th {
          padding: 0.2em;
          text-align: left;
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }
      }

      tr:last-of-type {
        td, th {
          border-bottom: none !important;
        }
      }
    }

    tfoot {
      tr {
        td, th {
          padding: 0.2em;
          text-align: left;
        }
      }

      tr:first-of-type {
        td, th {
          border-top: 1px solid black;
        }
      }
    }
  }
}
